.box {
      border: 1px solid #000;
      padding: 20px;
      display: inline-block;
      background: #fff;
      margin-top: 20px;
    }
    input[type="text"] {
      padding: 5px;
      width: 150px;
      margin: 5px;
    }
    input[type="button"] {
      padding: 5px 10px;
      margin: 5px;
    }




    .btnImage {
    background-color: transparent;
    border: none;
    transition: transform .5s;
    width:10vw;
    height: 10vw;
    min-width: 100px;
    min-height: 100px;
    margin-bottom: 20px;
    
}


#ok{
    width:10vw;
    height: 10vw;
    min-width: 100px;
    min-height: 100px;
    
}

#retour {
      display: inline-block;
      display: none;
      transform-origin: center center;
    }

#retour.rotate {
  animation: rotation .6s;
  transform-origin: 50% 50%;
}
#tourner{
  display: inline-block;
    width:10vw;
    height: 10vw;
    min-width: 100px;
    min-height: 100px;
    transform-origin: center center;
}
@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(720deg); 
    }
}
#tourner.rotate {
  animation: rotation .6s;
}




.exemple {
  color: #007BFF; /* ou toute autre couleur de ton choix */
  font-weight: bold; /* optionnel, pour mieux ressortir */
}

.ligne-consigne {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: min(2.5vw, 18px); /* 2.5vw s’adapte à l’écran, max 18px */
  display: block;
}

#contenu {
      display: inline-block;
      position: relative;
      width: auto;
      margin: auto;
      background: #ffcaca; 
      border-radius: 8px; 
      box-shadow: 10 2px 8px rgba(0, 0, 0, 0.1); 
      padding: 1em; 
    }